<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
    <!-- links -->
    <link rel="stylesheet" href="../public/style.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=MuseoModerno:wght@300;500;700&family=Permanent+Marker&display=swap"
        rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/">
                <img src="https://cdn.discordapp.com/attachments/882362353507778613/981651687330689115/image-removebg-preview.png" alt="GMI logo">
            </a>
        </div>

        <nav>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Pricing</a>
            <a href="#">Imports</a>
            <a href="#">Contact</a>
        </nav>
    </header>

    <div class="main">
        <div class="left">
            <img src="https://cdn.discordapp.com/attachments/882362353507778613/981644524864544778/f1e87fe050b1efd42806f8be0641f746-removebg-preview.png" alt="">
        </div>

        <div class="right">
                <br><br><br><br><br><br>
            <h1>
                Welcome to Gotham Motors Inc.
            </h1>
                <br><br>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim suscipit sit, ipsum expedita nostrum nam eos molestiae numquam aut error maiores, doloremque voluptatum obcaecati optio magnam eligendi qui excepturi nulla. Fugiat adipisci voluptatum quisquam, illo porro mollitia dolores, iste, quae earum facere sit nulla doloremque esse amet eum nisi maxime.
            </p>
                <br><br><br>
            <a href="/customer_login">Get Started</a>

            <div class="admin-hidden">
                <a href="/admin_login">ad</a>
            </div>
        </div>
    </div>
</body>
</html>